.search-form {
  transition: transform 0.5s ease-in-out, margin-top 0.5s ease-in-out;
}

.transition-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: transform 0.5s ease-in-out;
  padding-top: 30px;
}

.search-row {
  max-width: 1200px;
}

.search-moved {
  transform: translateY(0vh);
  height: 100%;
  margin-top: 0;
}

.language-select {
  min-width: 220px;
}

.results-container {
  transition: opacity 0.5s ease-in-out, margin-top 0.5s ease-in-out;
  opacity: 0;
  margin-top: 70px;
  max-width: 1200px;
}

.show-results {
  opacity: 1;
  margin-top: 50px;
}

.mode-switch .form-check-label {
  color: #f5f5f5;
}

.mode-switch .form-check-input:checked {
  border-color: #1976d2;
  background-color: #1976d2;
}

@media (max-width: 767px) {
  .search-form {
    width: 90%;
  }

  .language-select {
    width: 90%;
  }
}
